<link href="public/panel.css" type="text/css" rel="stylesheet">

<section id="customer-account-directory-service-panel" class="row">
    <div class="col-10">
        <h3>Request Migration</h3>
        <p>For testing purposees, request a migration from here</p>
        <div class="opshub-well">
            <form class="aui">
                <fieldset>
                    <div class="field-group">
                        <aui-label for="client-id">Client ID</aui-label>
                        <input id="client-id-input" class="text" type="text" name="client-id">
                    </div>
                    <div class="field-group">
                        <aui-label for="force">Force?</aui-label>
                        <select id="force-input" name="force" class="text">
                            <option value="false" selected="true">false (default)</option>
                            <option value="true">true</option>
                        </select>
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="request-migration" type="button" class="aui-button">Request Migration</button>
                    </div>
                </div>
            </form>
            <div class="loading" id="request-migration-loading"></div>
            <div class="results" id="request-migration-results"></div>
        </div>
        <h3>Migration Cancel</h3>
        <p>Cancel a migration token. Requires migration-id and the reason for cancellation</p>
        <div class="opshub-well">
            <form class="aui">
                <fieldset>
                    <div class="field-group">
                        <aui-label for="migration-id">Migration ID</aui-label>
                        <input id="migration-id-input" class="text" type="text" name="migration-id">
                    </div>
                    <div class="field-group">
                        <aui-label for="reason">Reason</aui-label>
                        <input id="reason-input" class="text" type="text" name="reason">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="cancel-migration" type="button" class="aui-button">Cancel Migration</button>
                    </div>
                </div>
            </form>
            <div class="loading" id="cancel-migration-loading"></div>
            <div class="results" id="cancel-migration-results"></div>
        </div>
        <h3>Get Current Requests</h3>
        <p>See stats on the current requests</p>
        <div class="opshub-well">
            <form class="aui">
                <fieldset>
                    <div class="field-group">
                        <aui-label for="records-status">Status</aui-label>
                        <select id="records-status-input" class="text" name="records-status">
                            <option value="IN_PROGRESS" selected="true">IN_PROGRESS (default)</option>
                            <option value="SUCCEEDED">SUCCEEDED</option>
                            <option value="FAILED">FAILED</option>
                            <option value="TIMED_OUT">TIMED_OUT</option>
                            <option value="DECLINED">DECLINED</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <aui-label for="records-page">Page</aui-label>
                        <input id="records-page-input" class="text" type="text" name="records-page" value="0">
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <aui-label for="records-size">Size</aui-label>
                        <input id="records-size-input" class="text" type="text" name="records-size" value="50">
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <aui-label for="records-days-ago">Status</aui-label>
                        <input id="records-days-ago-input" class="text" type="text" name="records-days-ago" value="1">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="get-records" type="button" class="aui-button">Get records</button>
                    </div>
                </div>
            </form>
            <div class="loading" id="get-requests-loading"></div>
            <div class="results" id="get-requests-results"></div>
        </div>
        <h3>Token Pool Size</h3>
        <p>The current token pool size is <span id="get-pool-size-loading">...LOADING</span><span id="get-pool-size-results"></span>. If you would like to change it, use the options below.</p>
        <div class="opshub-well">
            <form class="aui">
                <fieldset>
                    <div class="field-group">
                        <aui-label for="pool-size">Pool Size</aui-label>
                        <input id="pool-size-input" class="text" type="text" name="pool-size">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="change-pool-size" type="button" class="aui-button">Change Pool Size</button>
                    </div>
                </div>
            </form>
            <div class="loading" id="pool-size-loading"></div>
            <div class="results" id="pool-size-results"></div>
        </div>
        <h3>Cleanup</h3>
        <p>To clean up tokens that haven't been used recently, choose a timeout and click this button</p>
        <div class="opshub-well">
            <form class="aui">
                <fieldset>
                    <div class="field-group">
                        <aui-label for="timeout-secs">Timeout (secs)</aui-label>
                        <input id="timeout-secs-input" class="text" type="text" name="timeout-secs" value="1800">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="cleanup" type="button" class="aui-button">Cleanup</button>
                    </div>
                </div>
            </form>
            <div class="loading" id="cleanup-loading"></div>
            <div class="results" id="cleanup-results"></div>
        </div>
    </div>
</section>

<script src="public/panel.js"></script>
